.navbar{

	transition: 0.3s all;
	background-color: transparent;
	padding-bottom: 0;
	border-top: none;
	border-bottom: 1px;
	border-bottom-style: groove;
}

.modal-dialog{

	width: 80%;
	height: 80%;
}

header.sections{

	height: 80vh;
	padding-top: 0 !important;
}

.formulario{

	display: none;
}

.active-form{

	display: block;
}

#ulMenu{

	position: absolute;
	right: 12%;
	bottom: 0;
}

.navbar li>a{

	color: white !important;
}

.menu-bg{

	background-color: white;
}

.menu-bg li>a{

	color: black !important;
}

.menu-bg .nav > li.active, li.active>a:focus{

	background-color: #19B419 !important;
	color: white !important;
}

li.active>a{

	color: white !important;
}

.navbar-nav>li>a:hover{

	color: #B7F600 !important;
}

.home-slider{

	position: absolute;
	height: 100%;
}

.home-slider .carousel-inner, .carousel.slide{

	height: 100%;
	overflow: hidden
}

.home-info{

	padding: 3%;
	background: white;
	position: absolute;
	bottom: 1%;
	color:black;
	width: 33%;
}

@media only screen and (min-width: 1024px) {
	.form-name, .form-apellido, .form-sexo, .select-talla, .form-categoria, .form-sangre, .form-email, .form-club{

		width: 47%;
		display: inline-block;
	}

	.form-name, .form-sexo, .form-categoria, .form-email{

		margin-right: 6%;
	}
	.date-cont>* {

		width: 50%;
		display: inline-block;
	}

	.form-sangre > label{

		width: 65%;
		text-align: center;
	}

	#selectSangre{

		width: 35%;
	}

	.form-sangre > * {

		display: inline-block;
	}
}

.remove-form > i{

	border-radius: 50%;
	z-index: -1;
	cursor: pointer;
}

.remove-form {

	position: absolute;
	right: 0;
	top: -30%;
}

/*.form-tab{

	position: relative;
	display: inline-block;
	background-color: #19B419;
	padding: 1% 2%;
}*/

.new-tab-btn > a:hover{

	background-color: #A3F303 !important;
}

.new-tab-btn > a, li.form-tab.active > a{

	background-color: #19B419;
	color: white;
	cursor: pointer !important;
}

.form-tab.active > a{

	background-color: #19B419 !important;
}

.form-tabs > div{

	display: inline-block;
	cursor: pointer;
}

.popover{

	width: 20vw;
}

.form-rol{

	display: block;
}

.incompleto, .has-error{

	/*border-color: #a94442;*/
	box-shadow: inset 0px 0px 10px 1px rgba(255,0,0,0.63);
}

.fa-asterisk{

	color:red;
}

.btn-submit-form{

	background-color: #19B419;
	color: white;
	display: block;
}

.btn-submit-form:hover{

	background-color: #A3F303;
	color: white;
}

.header-form{

	text-align: center;
}

.remove-form:hover{

	color: red;
}

.submit-loader {

	display: none;
	margin: auto;
	border: 5px solid #f3f3f3;
	border-top: 5px solid #19B419;
	border-radius: 50%;
	width: 1.3em;
	height: 1.3em;
	animation: spin 2s linear infinite;
}

#textBtn{

	float: right;
}

.active-text{

    color: transparent;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.embed-container{

	width: 100%;
	height: 100%;
}

#alertContainer{

	position: absolute;
	width: 80%;
	left: 10%;
	top: 20%;
	pointer-events: none;
}

#alertContainer > *{

	display: none;
}